.idea/*
*.iml
*.iws
*.class
.DS_Store
log/*
*/target/**
PTO.xlsx
Ref data.xlsx
hackthon-1.0-SNAPSHOT-jar-with-dependencies.jar
target/hackthon-1.0-SNAPSHOT.jar
target/maven-archiver/
target/maven-status/
target/classes/holidayList.properties
